@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fadbd6;
}

.item-div input[type="checkbox"] {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.todo-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px;
}
button {
  padding: 10px;
  width: 70px;
  margin: 10px;
}
