@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(to right, lightpink, papayawhip);
}

.item-div input[type="checkbox"] {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.todo-form {
  width: 50%;
  height: auto;
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ECEBE9;
  box-shadow: 0.5px 0.5px 0.5px 0.5px darkgrey;
}

input {
  padding: 10px;
  margin: 10px;
}
button {
  padding: 10px;
  width: 70px;
  margin: 10px;
}
